.modal-overlay {
  position: fixed;
  z-index: 9999;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.2s ease-in-out;
}

.modal-overlay--after-open {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-overlay--before-close {
  background-color: rgba(0, 0, 0, 0);
}

.modal {
  opacity: 0;
  transform: translateY(40%);
  transition: all 0.2s ease-in-out;
  outline: none;
}

.modal--after-open {
  opacity: 1;
  transform: translateY(0%);
}

.modal--before-close {
  opacity: 0;
  transform: translateY(20%);
}

body.ReactModal__Body--open {
  overflow: hidden !important;
  position: fixed; /* optional: locks content better on mobile */
  width: 100%;
}
