@import "tailwindcss";
@import "./google.css";

body {
  overflow-x: hidden;
}

body.disable-scroll {
  overflow-y: hidden;
}

@theme inline {
  --color-dark: var(--color-slate-800);
  --color-light: var(--color-slate-50);
  --color-primary: var(--color-violet-600);
}

@layer components {
  .card {
    cursor: default;
    background-color: var(--color-violet-100);
    padding: 10px;
    border-radius: var(--radius-xs);
    box-shadow: var(--shadow-sm);
    outline: 1px solid var(--color-violet-300);
  }
}
