@import "tailwindcss";
@import "./google.css";

body {
  overflow-x: hidden;
}

body.disable-scroll {
  overflow-y: hidden;
}

:root {
  --navbar-height: 60px;
  --navbar-top: 30px;
  --content-after-navbar-padding: calc(
    var(--navbar-height) + var(--navbar-top) + 50px
  );
}

@theme inline {
  --color-dark: var(--color-gray-900);
  --color-light: var(--color-gray-50);
  --color-primary: var(--color-violet-600);
}
